# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
__pycache__
*.pyc

# gradle
build
.gradle
.gradle-home

# other
eclipse
run
downloads
forge*changelog.txt
.DS_Store
.claude/worktrees

